@font-face {
    -fx-font-family: "Supercell";
    src: url("../fonts/supercell.ttf");
}

.root{
    -fx-font-family: "Times New Roman", "Supercell";
    -fx-font-size: 30;
}

.title{
    -fx-background-size: cover;
    -fx-background-image: url("../images/background_button.png");
}

.text-input{
    -fx-text-fill: rgb(228, 228, 190);
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: rgb(110, 55, 27);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-padding: 4 7 4 7;
}

.button{
    -fx-background-image: url("../images/background_button.png");
    -fx-text-fill: rgb(228, 228, 190);
    -fx-border-color: rgb(40, 40, 10);
    -fx-border-width: 4;
}

.button:hover{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: rgb(228, 228, 190);
    -fx-font-weight: 900;
    -fx-effect: dropshadow(one-pass-box , black , 8 , 0.0 , 2 , 0);
}

.note{
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.labelLink{
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.labelLink:hover{
    -fx-text-fill: yellow;
}

.errorLabel{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: rgb(255, 64, 32);
    -fx-effect: dropshadow(one-pass-box , black , 0 , 0.0 , 0 , 0);
}

.choice-box .context-menu {
    -fx-background-color: rgb(110, 55, 27);
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(145, 70, 33);
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-font-weight: bold;
}

.choice-box {
  -fx-background-color: black;
  -fx-mark-color: white;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.check-box {
    -fx-text-fill: rgb(228, 228, 190);
    -fx-font-weight: 900;
    -fx-effect: dropshadow(one-pass-box , black , 8 , 0.0 , 2 , 0);
}
